<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superheroes</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="flex flex-row flex-wrap justify-center">
   <!-- <header class="w-full">
        <h1 class="text-5xl text-center">Lista de Superhéroes</h1>
    </header> -->
    <%- include('partials/header') %>
    
    <main class="flex flex-row flex-wrap justify-center w-full lg:justify-between lg:w-5/6">
        <div class="agregar w-5/6 m-2">
            <a href="/api/heroes/agregar" class="text-center outline-2 outline-teal-500 rounded-md p-2 m-2 hover:bg-green-200">Agregar Heroe</a>
        </div>
        
        <% superheroes.forEach(superheroe => { %>
            <div class="p-4 m-2 w-5/6 outline-2 outline-black rounded-md lg:w-2/5">
                <ul>
                    <li><strong>Nombre:</strong> <%= superheroe.Nombre %></li>
                    <li><strong>Nombre real:</strong> <%= superheroe["Nombre Real"] %></li>
                    <li><strong>Edad:</strong> <%= superheroe.Edad %></li>
                    <li><strong>Planeta de Origen:</strong> <%= superheroe["Planeta de Origen"] %></li>
                    <li><strong>Debilidad:</strong> <%= superheroe.Debilidad %></li>
                    <li><strong>Poderes:</strong> <%= superheroe.Poderes %></li>
                    <li><strong>Aliados:</strong> <%= superheroe.Aliados %></li>
                    <li><strong>Enemigos:</strong> <%= superheroe.Enemigos %></li>
                    <li class="text-center outline-2 outline-green-400 m-2 hover:bg-green-200"><a href="/api/heroes/<%= superheroe.id %>/editar" class="inline-block w-full">Editar</a></li>
                    <form method="post" action="/api/heroes/<%= superheroe.id %>?_method=DELETE" class="w-full p-2">
                        <input type="hidden" name="heroeID">
                        <input type="submit" class="w-full text-center outline-2 outline-red-400 hover:bg-red-200 hover:cursor-pointer" value="Eliminar">
                    </form>
                </ul>  
            </div>
            
        <% }); %>
    </main>

</body>
</html>