<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superheroes</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <h1 class="text-5xl text-center">Lista de Superhéroes</h1>
    <% superheroes.forEach(superheroe => { %>
        <div class="p-4">
            <ul>
                <li><strong>Nombre:</strong> <%= superheroe.Nombre %></li>
                <li><strong>Nombre real:</strong> <%= superheroe["Nombre Real"] %></li>
                <li><strong>Edad:</strong> <%= superheroe.Edad %></li>
                <li><strong>Planeta de Origen:</strong> <%= superheroe["Planeta de Origen"] %></li>
                <li><strong>Debilidad:</strong> <%= superheroe.Debilidad %></li>
                <li><strong>Poderes:</strong> <%= superheroe.Poderes %></li>
                <li><strong>Aliados:</strong> <%= superheroe.Aliados %></li>
                <li><strong>Enemigos:</strong> <%= superheroe.Enemigos %></li>
            </ul>  
        </div>
        
    <% }); %>
</body>
</html>